.gridContainer {
    display: grid;
    row-gap: 25px;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 2;
    border-radius: 10;
}

.headerDiv {
    margin: auto;
    padding: 5px;
    grid-column: 1 / 4;
}

.leftDiv, .mainDiv, .rightDiv {
    padding: 5px;
}

.leftDiv {
    margin-left: 10px;
}

.mainDiv {
    margin-left: 10px;
    margin-right: 10px;
}

.rightDiv {
    margin-right: 10px;
}

@media screen and (max-width:800px) {
    .headerDiv, .leftDiv, .mainDiv, .rightDiv {
        margin: 10px;
    }

    .gridContainer {
        display: block;
        background-color: rgba(155, 155, 155, 0.5);
    }
}