.idDate {
    margin-left: 65%;
}

.persuasionTwoFlex {
    display: flex;
    flex-direction: row;
}

.persuasionTwoText {
    width: 49%;
    order: 1;
}

.persuasionTwoImage {
    order: 2;
    width: 50%;
    height: auto;
    margin-left: 10px;
}

@media screen and (max-width:1350px) {
    .persuasionTwoFlex {
        flex-direction: column;
    }

    .persuasionTwoText {
        width: 99%;
    }

    .persuasionTwoImage {
        margin-top: 10px;
        width: 99%;
    }
}

@media screen and (max-width:850px) {
    .persuasionTwoFlex {
        flex-direction: column;
    }

    .persuasionTwoText {
        width: 99%;
    }

    .persuasionTwoImage {
        margin-top: 10px;
        margin-left: 0px;
        width: 99%;
    }
}