.gridContainer {
    display: grid;
    row-gap: 25px;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 2;
    background-color: rgba(155, 155, 155, 0.5);
}

.headerDiv {
    margin: auto;
    padding: 5px;
    grid-column: 1 / 4;
}

.leftDiv, .mainDiv, .rightDiv {
    padding: 5px;
}

.leftDiv {
    background-color: rgba(125, 125, 125, 0.5);
    margin-left: 10px;
}

.mainDiv {
    background-color: rgba(95, 95, 95, 0.5);
    margin-left: 10px;
    margin-right: 10px;
}

.rightDiv {
    background-color: rgba(125, 125, 125, 0.5);
    margin-right: 10px;
}

@media screen and (max-width:800px) {
    .headerDiv, .leftDiv, .mainDiv, .rightDiv {
        margin: 10px;
    }

    .gridContainer {
        display: block;
        background-color: rgba(155, 155, 155, 0.5);
    }
}

.codeBlock {
    background-color: rgba(235, 235, 235, 0.5);
}