.colorTable {
    margin-left: 5%;
    border-collapse: collapse;
    width: 90%;
}

.colorTableTr:nth-child(odd) {
    background-color: var(--table-back); /* it was rgba(180, 180, 180, 0.7); */
}

.colorTableTh, .colorTableTd {
    border: 1px solid black;
}

.colorTableTh:nth-child(even), .colorTableTd:nth-child(even) {
    background-color: var(--table-back); /* it was rgba(180, 180, 180, 0.7); */
}

